body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.App-header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 30px;
  z-index: 1;
}

.header-button {
  color: #fff;
  height: 100%;
  margin-left: 5px;
  background-color: #777;
}

#heading {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 26px;
}

main {
  position: fixed;
  height: calc(100vh - 30px);
  top: 30px;
  width: 100%;
  overflow: auto;
  padding-bottom: 50vh;
  box-sizing: border-box;
}

.card {
  /* border: 1px solid #000; */
  width: 90%;
  margin: 0 auto;
}

.horizontalRow {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  padding-top: 30px;
  background-color: white;
}

button {
  align-self: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

button:active {
  opacity: 0.5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ccc;
  margin: 0;
  text-align: left;
}

tr:focus-within {
  background-color: #ffffa7;
}

input {
  border: none;
  flex: 1;
  background-color: transparent;
}

#mainKeyInput {
  flex: 1;
}

.flexBox {
  display: flex;
}

.insertARowHereButton {
  width: 100%;
  text-align: left;
  padding: 0;
  border: none;
}

.groupContainer {
  margin-bottom: 32px;
}
